<%-include('./partials/header.ejs')%>
      <div class="container">
        <header>
          <h1 class="text-center">Global Status of Covid-19</h1>
        </header>
        <div class="global_data">
        <div class="card " style="width: 18rem;">
            <div class="card-body  text-center">
              <h5 class="card-title ">Confirmed </h5>
              <p class="card-text confirmed"><%= data.TotalConfirmed %></p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body  text-center">
              <h5 class="card-title">Recovered </h5>
              <p class="card-text recovered"> <%= data.TotalRecovered %></p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body  text-center">
              <h5 class="card-title">Deceased </h5>
              <p class="card-text deceased"><%= data.TotalDeaths %></p>
            </div>
          </div>
        </div>
      <div class="headings">
        <p>Global Geo Graph</p>
      </div>

            <div id="WorldMap" style="width: 1100px; height: 750px;"></div>
      <div class="headings">
        <p>Worst affected nations</p>
      </div>
            <div id="colGraph" style="width: 1100px; height: 750px;"></div> 
      <%-include('./partials/sticky_footer.ejs')%>
    </div>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="js/main.js"></script>
  <script src="js/charts.js"></script>
<%-include('./partials/footer.ejs')%>
